$colour-primary: #1372FF;
$colour-primary-light: #3C8AFC;
$colour-primary-dark: #00398D;

$colour-secondary-light: #7ED56F;
$colour-secondary-dark: #28B485;

$colour-tertiary-light: #FFB900;
$colour-tertiary-dark: #FF7730;

$colour-grey: #777;
$colour-grey-2: #999;
$colour-grey-light: #D3D3D3;
$colour-grey-darkest: #333;

$colour-white: #FFF;
$colour-black: #000;

$box-shadow-colour: $colour-black;
// pallet http://paletton.com/#uid=13F0u0k++++qKZWAF+V+VAFZWqK

$grid-column-gutter: 2rem;
$grid-row-gutter: 1rem;

$default-font-size: 1.6rem;
